<%= render "shared/header" %>
<% breadcrumb :show_item, @item%>
<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.images[0] ,class:"item-box-img" if @item.images.attached? %>
        <div class="other-images">
          <% @item.images[1..-1].each do |image| %>
            <div class="other-image">
              <%= image_tag image, class:"other-img" %>
            </div>
          <%end%>
        </div>
      <% if @item.purchase_record %>
      <div class="sold-out">
        <span>Sold Out!!</span>
      </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ￥ <%= @item.price %>
      </span>
      <span class="item-postage">
        <%= @item.load.name %>
      </span>
    </div>
    <% unless @item.purchase_record %>
      <% if current_user == @item.user %>
        <%= link_to "商品の編集", edit_item_path, method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", item_path, data: {turbo_method: :delete}, class:"item-destroy" %>
      <% elsif user_signed_in? %>
        <%= link_to "購入画面に進む",  item_purchase_records_path(@item), data: { turbo: false }, class:"item-red-btn"%>
      <% else %>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.content %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr> 
        <tr>
          <th class="detail-item">タグ</th>
          <td class="detail-value"><%= @item.tags.first&.tag_name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.load.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.area.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.delivery.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option" >
      <div class="favorite-btn" id="like-btn<%= @item.id %>" >
        <%= render partial: "likes/like", locals: { item: @item } %>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>
  <div>
    <div id="comments">
      <h4>＜コメント一覧＞</h4>
      <% @item.comments.each do |comment| %>
        <div class="comment">
          <p class="user-info"><%= comment.user.nickname %>: </p>
          <p><%= comment.text%></p>
        </div>
      <%end%>
    </div>
    <div class="comment-box">
      <% if user_signed_in? %>
        <%= form_with model: [@item, @comment], id: "comment-form" do |f| %>
          <%= f.text_area :text, class:"comment-text" %>
          <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
          <%= f.submit "コメントする", class:"comment-btn" %>
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="links">
    <% if @item.next.present? %>
    <%= link_to "＜ #{@item.next.name}", item_path(@item.next), class:"change-item-btn"%>
    <%end%> 
    <% if @item.previous.present? %>
    <%= link_to "#{@item.previous.name} ＞", item_path(@item.previous), class:"change-item-btn"%>
    <%end%>
  </div>
  <%= link_to @item.category.name + "をもっと見る", find_items_path(category_id: @item.category.id), class:"another-item" %>
</div>

<%= render "shared/footer" %>
